.Carousel_Container {
  min-height: 5rem;
}

.Carousel_Item {
  min-height: 4rem;
}

.Carousel_Item div {
  height: 4rem;
  margin: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  vertical-align: middle;
  line-height: 4rem;
}